
@{
    ViewBag.Title = "Recuperar  Password";
}

<h2>Recuperar Password</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
               <label class="control-label col-md-2" >Correo Electronico</label>
                @Html.TextBox("Email", "", new { @class="form-control"})
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Enviar" />
            </div>
        </div>
    </div>


}