@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <h3>Bienvenido @HttpContext.Current.User.Identity.Name</h3>
<br /><br />
</div>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "usuarios", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}